---
  # - include: handlers/linux_handlers.yml
  #   when: squad_server_os == 'linux'
  #
  # - include: handlers/windows_handlers.yml
  #   when: squad_server_os == 'windows'

  - name: Download chocolatey role from ansible galaxy
    command: ansible-galaxy install deekayen.chocolatey -p roles/
    delegate_to: localhost
    when: squad_server_os == 'windows'

  - name: Download steamcmd role from ansible galaxy
    command: ansible-galaxy install siw36.ansible_steamcmd -p roles/
    delegate_to: localhost
    when: squad_server_os == 'linux'

  - name: Include WinRM variables for windows os
    include_vars:
      file: winrm.yml
    when: squad_server_os == 'windows'

  - name: Wait for linux host to become ready
    include: linux_wait.yml
    when: squad_server_os == 'linux'

  - name: Wait for windows host to become ready
    include: windows_wait.yml
    when: squad_server_os == 'windows'

  - name: Install dependencies
    include: linux_dependencies.yml
    when: squad_server_os == 'linux'

  - name: Ensure Chocolatey is installed
    include_role:
      name: deekayen.chocolatey
    when: squad_server_os == 'windows'

  - name: Install dependencies
    include: windows_dependencies.yml
    when: squad_server_os == 'windows'

  - name: Gather facts
    setup:

  - name: debug the OPERATING SYSTEM
    debug:
      var: squad_server_os

  - name: Install Steamcmd
    include_role:
      name: siw36.ansible_steamcmd
    when: squad_server_os == 'linux'

  - name: Install Squad
    include: linux_install_squad.yml
    when: squad_server_os == 'linux'

  - name: Install Mods
    include: linux_install_mods.yml
    when: squad_server_os == 'linux'

  - name: Configure Squad system service
    include: linux_install_service.yml
    when: squad_server_os == 'linux'

  - name: Provision Windows with Squad software and other tools
    include: windows_install_squad.yml
    when: squad_server_os == 'windows'

  - name: Add Windows Firewall Exceptions
    include: windows_firewall.yml
    when: squad_server_os == 'windows'

  - name: Set up Squad Server Watchdog
    include: windows_watchdog.yml
    when: squad_server_os == 'windows'
