---

  - name: start squad
    service:
      name: squad
      state: started
      daemon_reload: yes
    become: true
  - name: restart squad
    service:
      name: squad
      state: restarted
      daemon_reload: yes
    become: true
  - name: enable squad
    service:
      name: squad
      enabled: yes
      daemon_reload: yes
    become: true
